sync_files.sh
.quarto/*
_site/*
.claude/*
**/*.quarto_ipynb

/.quarto/
blog/.DS_Store
*..DS_Store
**/index_files/*
blog/_YYYY_MM_DD-short_name/index.html
blog/2026-03-28-spindrift/.DS_Store
blog/_YYYY_MM_DD-short_name/.DS_Store
